<div class="container-big-card">
    <div class="big-card-picture">
        <img src="https://placehold.co/600x400" height="250px" alt="">
    </div>
    <div class="big-card-title">
        <h1>Long title for card</h1>
    </div>
    <div class="big-card-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet fermentum erat vitae sagittis. Quisque ut eros dolor. Etiam suscipit diam et nibh mollis, in semper erat tempus. Suspendisse sed nisl a diam ultrices sodales sollicitudin id ligula. Sed fermentum felis posuere urna rhoncus, nec sodales nibh tempus. Duis metus libero, faucibus vel augue id, convallis finibus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam euismod dui sed velit pulvinar, a vulputate sem laoreet. Suspendisse ligula arcu, fermentum vel dui sed, elementum pulvinar ipsum. Vivamus semper massa a odio luctus ornare. Ut varius tellus sit amet elit auctor dictum. Praesent et sapien ornare, maximus dui eget, varius purus.
        </p>
    </div>

</div>