.container-small-card-content{
    display: flex;
    flex-direction: row;
    border: solid white;
    width: 800px;
    height: 200px;
    justify-content: center;
}
.container-picture > img {
    width: 100%;
    height: 100%;
}
.container-title > p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}