<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container-articles">
    <div class="articles-main">
        <app-big-card 
        photoCover="https://placehold.co/800?text=Hello+World&font=roboto" 
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet fermentum erat vitae sagittis. Quisque ut eros dolor. Etiam suscipit diam et nibh mollis, in semper erat tempus. Suspendisse sed nisl a diam ultrices sodales sollicitudin id ligula. Sed fermentum felis posuere urna rhoncus, nec sodales nibh tempus. Duis metus libero, faucibus vel augue id, convallis finibus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam euismod dui sed velit pulvinar, a vulputate sem laoreet. Suspendisse ligula arcu, fermentum vel dui sed, elementum pulvinar ipsum. Vivamus semper massa a odio luctus ornare. Ut varius tellus sit amet elit auctor dictum. Praesent et sapien ornare, maximus dui eget, varius purus."
        cardTitle="Lrem ipsum"
        ></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card cardTitle="Titel small card" photoCover="https://placehold.co/600x400/orange/white"></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>